@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
  text-shadow: 2px 2px 4px blue;
}

ul {
  list-style-type: none;
  padding: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  position: absolute;
}

.no-scroll {
  overflow: hidden;
}
